/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
/* COMMON */
.center {
    margin: auto;
/* REGOLA DI LAYOUT CORRETTA: margin: 0 auto; */
    width: 70%;
    max-width: 1500px;
}

.button {
    border-radius: 30px;
    color: black;
    padding: 15px;
    background-color: white;
    text-decoration: none;
}

.small>.button {
    font-size: 0.8rem;
    display: flex;
    justify-content: end;
}
.dotted {
    border: 2px dashed black;
}

body {
    font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
    list-style-type: none;
}
.gray_bkg {
    background-color: #F6F6F6;
}

/* TEXT ALIGN CLASS */

.text_align_right {
    text-align: right;
}

/* HEADER */
.main_header {
    height: 80px;
    display: flex;
    background-color: #255EE9;
}

/* NAV BAR */
.nav_list {
    display: flex;
    color: white;
}

.nav_center_list {
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.big {
    flex-grow: 1;
    /* padding-top: 10px; */
}
.small {
    width: auto;
    
    /* padding-top: 10px; */
}

/* HERO IMG */
.hero_img_container {
display: flex;
background-image: url(../img/jumbo.png);
background-size: cover;
padding: 150px 0px;
}

.hero_image {
    width: 40%;
    height: 70%;
    color: white;
}

.claim {
    text-align: center;
    padding: 20px 0px;
    font-size: 2.5rem;
}

.hero_image p {
    text-align: center;
    padding-bottom: 15px;
    line-height: 2rem;
}

.hero_button {
    display: flex;
    justify-content: space-evenly;
}

.alt_clr {
    background-color: #23272A;
    color: white;
}

/* TWO COLUMN PART */

.two_clmn_container {
    display: flex;
    /* debug */
    height: 600px;
}

.two_clm {
    height: 70%;
    display: flex;
}

.two_clm_reverse {
    height: 70%;
    display: flex;
    flex-direction: row-reverse;
}

.main_chunk {
    width: 40%;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.secondary_chunk {
    width: 60%;
    /* background-image: url(../img/item1.svg); */
    background-repeat: no-repeat;
}

.secondary_claim {
    text-align: left;
    padding-bottom: 15px;
    font-size: 2.5rem;
}

.main_text {
    line-height: 1.5rem;
}

.wiz_ill {
    background-image: url(../img/item2.svg);
}

.wind_ill {
    background-image: url(../img/item3.svg);
    background-position: center;
}
.top_wave_container {
    display: flex;
}
.top_wave {
    width: 100%;
    filter: invert(99%) sepia(6%) saturate(10%) hue-rotate(65deg) brightness(112%) contrast(93%);
}

.bottom_wave_container {
    display: flex;
    flex-direction: column;
}

.bottom_rev {
    transform: rotate(180deg);
    filter: invert(99%) sepia(6%) saturate(10%) hue-rotate(65deg) brightness(112%) contrast(93%);
}

/* ONE ROW PART */

.big_row {
    height: 90%;
}

.big_image {
    background-size: contain;
}

.text_center {
    text-align: center;
}

.big_row>h2  {
    padding: 25px;
} 

.star_container {
    width: 500px;
    background-image: url(../img/stars.svg);
    margin: auto;
    background-size: contain;
}
.star_bkg {
    padding: 25px 0px;
    margin-bottom: 50px;
}

.button_box {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.button_box a {
    background-color: #7289DA;
    color: white;
}

/* FOOTER */
.five_row_container {
    background-color: #23272A;
    padding: 10px 0 20px 0;
}

.five_row { 
    /* debug */
    height: 100%;
    display: flex;
}

.box_big {
    width: 36%;
}

.box_small {
    width: 16%;
    padding-top: 25px;
}

.footer_container {
    background-color: #23272A;
    border-top: 1px solid #7289DA;
    display: flex;
    height: 115px;
}

.main_footer {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot_box {
    padding: 5px;
}

.footer_title {
    color: #7289DA;
    margin-bottom: 0px;
}

.small_text_footer {
    font-size: 0.8rem;
    color:white;
}

.flag {
    width: 26px;
    display: inline-block;
    vertical-align: middle;

}

.social_icons {
    display: flex;
    margin-top: 15px;
    color: white;
    gap: 5px;
}

.box_small ul li {
    padding-bottom: 10px;
    font-size: 0.95rem;
    color: white;
}

.main_footer .button {
    background-color: #7289DA;
    color: white;
    font-size: 0.95rem;
    padding: 15px;
}

.box_small ul>.strong_li {
    color: #7289DA;
    font-weight: 600;
}